.cards__like {
    max-width: 22px;
    /* justify-self: flex-end;
    align-self: center; */
    object-fit: contain;
    cursor: pointer;
    transition: opacity .2s ease-out;
}

.cards__like:hover {
    opacity: .5;
}