.profile__submit-btn {
    min-width: 150px;
    min-height: 50px;
    background-image: url(../../../images/submit-button.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    border-radius: 2px;
    transition: opacity .2s ease-in;
}

.profile__submit-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .profile__submit-btn {
        min-width: 100%;
        background-size: 16px 16px;
    }
}