.profile__submit-btn {
    min-width: 150px;
    max-height: 50px;
    background: none;
    box-shadow: none;
    cursor: pointer;
    border: 2px solid white;
    object-fit: none;
    border-radius: 2px;
    box-sizing: border-box;
    transition: opacity .2s ease-in;
}

.profile__submit-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .profile__submit-btn {
        min-width: 100%;
    }
}